/* 
** Layout, Text & Colors 
*/
.pain {
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
}

.text {
  top: 650px;
  background: #fff;
  position: relative;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  max-width: 100%;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 16px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: table;
  position: relative;
}

h1 {
  margin: 0px auto;
  display: table;
  font-size: 26px;
  padding: 40px 0px;
  color: #002e5b;
  text-align: center;
}

h1 span {
  font-weight: 500;
}

header {
  width: 100%;
  display: table;
  background-color:rgba(rgb(0, 43, 152),0.3);
  /* position: fixed; */
  /* margin-bottom: 50px; */
}

#logo {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #002e5b;
  font-weight: 600;
  padding: 20px 0px;
}

nav {
  width: auto;
  float: right;
  border-radius: 5px;
}

nav ul {
  display: table;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  padding-right: 0px;
}

nav ul li a {
  color: #2d96fe;
  font-size: 18px;
  padding: 25px 20px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}
/* 上面list中未縮小時字的敘述 */

nav ul li a:hover {
  background-color: #002e5b;
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a i {
  padding-right: 10px;
  color: #002e5b;
  transition: all 0.5s ease 0s;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: #2d96fe;
  margin-bottom: 4px;
  border-radius: 8px;
}
/* 以上是縮小之後的list清單icon設定 */

.toggle-menu ul li:last-child {
  margin-bottom: 0px;
}

input[type="checkbox"],
label {
  display: none;
}

.content {
  display: table;
  margin-bottom: 60px;
  width: 900px;
}

.content h2 {
  font-size: 18px;
  font-weight: 500;
  color: #002e5b;
  border-bottom: 1px solid #fde428;
  display: table;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  line-height: 22px;
  color: #7c7c7c;
  text-align: justify;
}

footer {
  display: table;
  padding-bottom: 30px;
  width: 100%;
}

.social {
  margin: 0px auto;
  display: table;
}

.social li {
  float: left;
  padding: 0px 10px;
}

.social li a {
  color: #002e5b;
  transition: all 0.5s ease 0s;
}

.social li a:hover {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

/* Media Queries */
@media only screen and (max-width: 1440px) {
  section {
    max-width: 95%;
  }
}

@media only screen and (max-width: 980px) {
  header {
    padding: 20px 0px;
  }

  #logo {
    padding: 0px;
  }

  input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }

  input[type="checkbox"]:fous {
    background: none;
  }

  label {
    position: absolute;
    right: 20px;
    /* 调整此处的右侧距离以适应您的设计 */
    top: 0px;
    /* 调整此处的顶部距离以适应您的设计 */
    padding: 8px 0px;
    cursor: pointer;
    display: inline-block;
    /* 添加此行 */
  }

  input[type="checkbox"]:checked ~ nav {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 53px;
    background-color: #002e5b;
    padding: 0px;
    z-index: 99;
  }

  nav ul {
    width: auto;
  }

  nav ul li {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
  }

  nav ul li a {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  }

  nav ul li a i {
    color: #fde428;
    padding-right: 13px;
  }
}

@media only screen and (max-width: 980px) {
  .content {
    width: 90%;
  }

  label {
    position: absolute;
    right: 20px;
    /* 调整此处的右侧距离以适应您的设计 */
    top: 0px;
    /* 调整此处的顶部距离以适应您的设计 */
    padding: 8px 0px;
    cursor: pointer;
    display: inline-block;
    /* 添加此行 */
  }
}

@media only screen and (max-width: 568px) {
  h1 {
    padding: 25px 0px;
  }

  h1 span {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  section {
    max-width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 20px;
  }

  label {
    padding: 5px 0px;
  }

  #logo {
    font-size: 20px;
  }

  nav {
    top: 47px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    padding: 20px 0px;
  }
}


  
  p {
    line-height: 1.5;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Cards */
  .card-column {
    width: 50%;
    float: left;
    padding: 4%;
    box-sizing: border-box;
  }
  
  .column-1 {
    padding-top: 100px;
  }
  
  .card {
    width: 92%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #EB5160;
    color: #fff;
    cursor: pointer;
    margin-bottom: 60px;
  }
  
  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 1px solid #fff;
    opacity: 0.5;
    left: -6px;
    top: -6px;
  }
  
  .card h1 {
    position: relative;
    padding: 190px 0px 100px 10px;
    width: 90%;
  }
  
  .card > img {
    width: 90%;
    position: absolute;
    top: -6%;
    left: -6%;
  }
  
  .card-color-0 {
    background-color: #EB5160;
  }
  
  .card-color-1 {
    background-color: #8F3985;
  }
  
  .card-color-2 {
    background-color: #8DAA91;
  }
  
  .card-color-3 {
    background-color: #888DA7;
  }
  
  /* 
  ** Media Queries
  */
  
  @media screen and (max-width: 600px) {
    .card-column {
      width: 90%;
    }
    
    .column-1 {
      padding-top: 0px;
    }
    
    .open-content img {
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    button {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
}